@page "/profile"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Identity.Client
@using Microsoft.Identity.Web

@rendermode InteractiveServer

@attribute [Authorize]

@inject Microsoft.Graph.GraphServiceClient GraphClient
@inject NavigationManager Navigation


<PageTitle>Profile</PageTitle>

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>

            <h3>Azure EntraID profile</h3>

            <br /><br />

            @if (userProfile != null)
            {
                <p><strong>Name:</strong> @userProfile.DisplayName</p>
                <p><strong>Email:</strong> @userProfile.Mail </p>
                <p><strong>Job:</strong> @userProfile.JobTitle </p>
            }

        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }

    private Microsoft.Graph.User? userProfile;

    protected override async Task OnInitializedAsync()
    {
        if (AuthState == null)
        {
            return;
        }

        var authState = await AuthState;
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            try
            {
                userProfile = await GraphClient.Me.Request().GetAsync();
            }
            catch (MsalUiRequiredException)
            {
                Navigation.NavigateTo("MicrosoftIdentity/Account/SignIn", forceLoad: true);
            }
            catch (MicrosoftIdentityWebChallengeUserException)
            {
                Navigation.NavigateTo("MicrosoftIdentity/Account/SignIn", forceLoad: true);
            }
        }
    }
}
